.headerOption {
  color: pointer;
  margin-right: 20px;
  display: flex;
  color: gray;
  cursor: pointer;
  flex-direction: column;
}
.headerOption:hover {
  color: black;

}
.headerOption__title {
  font-size: 12px;
  font-weight: 400;
}